a {
   text-decoration: none;
   color: #11b;
}

section {
   width: 300px;
   text-align: center;
   margin: 0 auto;
   background: #fafafa;
   padding: 15px 0;
   transition: .3s ease-in;
   border: 2px solid #eee;
   margin-bottom: 12px;
}

section:hover {
	border: 2px solid #fc5a5a;
}

h2 {
   margin: 0 0 10px 0;
}

p {
   text-decoration: none;
   display: inline-block;
   padding: 0 6px;
   background: #eee;
   color: white;
   font-size: 12px;
   line-height: 28px;
   transition: .3s ease-in;
}

p:hover {
   background: #e66;
}